.App {
  align-items: center;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 6rem;
}

.Buttons {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 1rem;
}

.Form {
  text-align: center;
  padding: 1em;
  align-items: center;
  justify-content: center;
}
